.app {
    background-color: #dadbd3;
    display: grid;
    height: 100vh;
    place-items: center;
}

.app_body {
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    background-color: #ededed;
    display: flex;
    height: 90vh;
    margin-top: -50px;
    width: 90vw;
}